extends layout

block content
  h1= title
    - let books  = results
  div(class="container-fluid mt-3")
  div(class="row")
    each i,index in books  
      div(class="col-sm-4")  #{i.name} - #{i.author} -#{i.price}
     
  script.
     
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }